<!-- views/edit.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
    <title>Edit Post</title>
</head>
<body>
    <div class="form-container">
        <h1>Edit Post</h1>
        <form method="post" action="/edit/<%= post.id %>" class="post-form">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="<%= post.title %>" required>
            <br>
            <label for="description">Description:</label>
            <textarea id="description" name="description" required><%= post.description %></textarea>
            <br>
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" value="<%= post.author %>" required>
            <br>
            <button type="submit" class="create-button">Update Post</button>
        </form>
        <a href="/" class="back-link">Back to Posts</a>
    </div>
</body>
</html>
